SQLAlchemy==1.3.13
Werkzeug==1.0.0
Flask==1.1.1
schedule==0.6.0
yfinance==0.1.54
pandas==1.0.3
requests==2.22.0
xmltodict==0.12.0
XlsxWriter==1.2.8
matplotlib==3.2.1
WTForms==2.2.1
fbprophet
vk_api==11.8.0
flask_restful==0.3.8
flask-login==0.5.0
SQLAlchemy-serializer==1.3.4.2
flask_googlecharts==0.1.0
flask_wtf==0.14.3
gunicorn==20.0.4
lxml==4.6.5
plotly
bs4==0.0.1
beautifulsoup4==4.9.0