{% extends "base.html" %}

{% block content %}
<div style="margin: 20px auto; text-align: center; padding-left: 40%;">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p style="float: left;">
            {{ form.search(class="form-control") }}<br>
            {% for error in form.search.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        <p style="float: left;" >{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
    <div class="clearfix"></div>
</div>
<table>
    <tr>
        <th>Ticker</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
    </tr>
    {% for item in params %}
        <tr>
            <td><a href="/stocks/{{ item[0] }}">{{ item[0] }}</a></td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}