{% extends "base.html" %}

{% block content %}

<table>
    <tr>
        <th>Ticker</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
    </tr>
    {% for item in params %}
        <tr>
            <td class="stocks"><a href="/stocks/{{ item[0] }}" class="black-link">{{ item[0] }}</a></td>
            <td class="stocks">{{ item[1] }}</td>
            <td class="stocks">{{ item[2] }}</td>
            <td class="stocks">{{ item[3] }}</td>
            <td class="stocks">{{ item[4] }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}