<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {{ charts_init }}
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <h1 class="navbar-brand" href="#">Stocks market analytics</h1>
        {% if current_user.is_authenticated %}
        <p>
            <a class="navbar-brand" href="/logout">{{ current_user.name }} {{ current_user.surname }}</a>
            <a class="btn btn-primary" href="/account">Личный кабинет</a>
            <a class="btn btn-success" href="/">Главная</a>
        </p>
        {% else %}
            <p>
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
        {% endif %}
    </nav>
    <a href="/" class="a-margin"><img src="/static/img/arrow.png"></a>
    <div>
        <form action="" method="post" class="date-form">
            {{ form.hidden_tag() }}
            <p>
                {{ form.date_from(class="form-control", type="date") }}<br>
                {% for error in form.date_from.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
                {{ form.date_to(class="form-control", type="date") }}<br>
                {% for error in form.date_to.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            <div class="message">{{ message }}</div>
            {% if current_user.is_authenticated %}
        <a href="/download_csv/chart_csv.csv/{{ ticker }}/{{ form.date_from.data }}/{{ form.date_to.data }}" download  class="btn btn-primary">
            Скачать файл
        </a>
    {% endif %}
        </form>
        <div class="my-chart1">
            <table>
                <tr>
                    <td>Название</td>
                    <td>{{ info['shortName'] }} <img src="{{ info['logo_url'] }}"></td>
                </tr>
                <tr>
                    <td>zip</td>
                    <td>{{ info['zip'] }}</td>
                </tr>
                <tr>
                    <td>Сектор</td>
                    <td>{{ info['sector'] }}</td>
                </tr>
                <tr>
                    <td>Штатные сотрудники</td>
                    <td>{{ info['fullTimeEmployees'] }}</td>
                </tr>
                <tr>
                    <td>Кратко о компании</td>
                    <td>{{ info['longBusinessSummary'] }}</td>
                </tr>
                <tr>
                    <td>Страна, город</td>
                    <td>{{ info['country'] }}, {{ info['city'] }}</td>
                </tr>
                <tr>
                    <td>Телефон</td>
                    <td>{{ info['phone'] }}</td>
                </tr>
                <tr>
                    <td>Официальный сайт</td>
                    <td>{{ info['website'] }}</td>
                </tr>
                <tr>
                    <td>Тикер</td>
                    <td>{{ info['symbol'] }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ info[''] }}</td>
                </tr>
            </table>
        </div>
        <div class="my-chart1">{{ charts.open }}</div>
        <div class="my-chart1">{{ charts.high }}</div>
        <div class="my-chart1">{{ charts.low }}</div>
        <div class="my-chart1">{{ charts.close }}</div>
        <div class="my-chart1">{{ charts.pred1 }}</div>
        <div class="my-chart1">{{ charts.pred2 }}</div>
        <div class="my-chart1">{{ charts.pred3 }}</div>
    </div>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>